@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}
#headlessui-portal-root {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.max-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Maximum number of lines to display */
  -webkit-box-orient: vertical;
}
/* Spinner */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}
.lds-grid div {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #8685EF;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 16px;
  left: 16px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 16px;
  left: 64px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 16px;
  left: 112px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 64px;
  left: 16px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 64px;
  left: 64px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 64px;
  left: 112px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 112px;
  left: 16px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 112px;
  left: 64px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 112px;
  left: 112px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.loader {
  width: 128px;
  height: 128px;
  border: 5px solid #F6F4F4;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
